// .env.example

PORT=3001
JWT_SECRET=your-jwt-secret-here

// Keep secrets and passwords out of github, never save to .env.example
// Generate a random, cryptographically strong, 128 (32+) character secret
// node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
