button {
  background-color: blue;
  transition-property: background-color;
  transition-duration: 5s;
}

button:hover {
  background-color: red;
}

/* multiple transition properties */
.box {
  width: 100px;
  height: 100px;
  background-color: gold;
  transition-property: width, height, background-color;
}

.box:hover {
  width: 150px;
  height: 150px;
  background-color: green;
}

/* transition-timing function */
.ease-in-timing {
  transition-timing-function: ease-in;
  transition-duration: 3s;
}

.delay-3s {
  transition-delay: 3s;
}


/* Longhand */
.longhand-example {
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.2s;
}

/* Same transition using shorthand */
.shorthand-example {
  transition: transform 0.5s ease-in-out 0.2s;
}


